src/main/resources/compras.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="t4is.uv.mx/compras" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://t4is.uv.mx/compras" targetNamespace="https://t4is.uv.mx/compras">
<wsdl:types>
<xs:schema xmlns:tns="t4is.uv.mx/compras" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="t4is.uv.mx/compras">
<xs:complexType name="Producto">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string"/>
<xs:element name="precio" type="xs:double"/>
</xs:sequence>
</xs:complexType>
<xs:element name="AgregarProductoAlCarritoRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="productoId" type="xs:int"/>
<xs:element name="cantidad" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="AgregarProductoAlCarritoResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="mensaje" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GenerarOrdenCompraRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="idCarritoque" type="xs:int"/>
<xs:element name="cliente" type="xs:string"/>
<xs:element name="fechaOrden" type="xs:date"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GenerarOrdenCompraResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="orden" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="SeguimientoCompraRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="IdOrden" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="SeguimientoCompraResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="estado" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</wsdl:types>
<wsdl:message name="AgregarProductoAlCarritoResponse">
<wsdl:part element="sch:AgregarProductoAlCarritoResponse" name="AgregarProductoAlCarritoResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="SeguimientoCompraResponse">
<wsdl:part element="sch:SeguimientoCompraResponse" name="SeguimientoCompraResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="SeguimientoCompraRequest">
<wsdl:part element="sch:SeguimientoCompraRequest" name="SeguimientoCompraRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GenerarOrdenCompraResponse">
<wsdl:part element="sch:GenerarOrdenCompraResponse" name="GenerarOrdenCompraResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GenerarOrdenCompraRequest">
<wsdl:part element="sch:GenerarOrdenCompraRequest" name="GenerarOrdenCompraRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="AgregarProductoAlCarritoRequest">
<wsdl:part element="sch:AgregarProductoAlCarritoRequest" name="AgregarProductoAlCarritoRequest"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="comprasPort">
<wsdl:operation name="AgregarProductoAlCarrito">
<wsdl:input message="tns:AgregarProductoAlCarritoRequest" name="AgregarProductoAlCarritoRequest"> </wsdl:input>
<wsdl:output message="tns:AgregarProductoAlCarritoResponse" name="AgregarProductoAlCarritoResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="SeguimientoCompra">
<wsdl:input message="tns:SeguimientoCompraRequest" name="SeguimientoCompraRequest"> </wsdl:input>
<wsdl:output message="tns:SeguimientoCompraResponse" name="SeguimientoCompraResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GenerarOrdenCompra">
<wsdl:input message="tns:GenerarOrdenCompraRequest" name="GenerarOrdenCompraRequest"> </wsdl:input>
<wsdl:output message="tns:GenerarOrdenCompraResponse" name="GenerarOrdenCompraResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="comprasPortSoap11" type="tns:comprasPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="AgregarProductoAlCarrito">
<soap:operation soapAction=""/>
<wsdl:input name="AgregarProductoAlCarritoRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="AgregarProductoAlCarritoResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SeguimientoCompra">
<soap:operation soapAction=""/>
<wsdl:input name="SeguimientoCompraRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="SeguimientoCompraResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GenerarOrdenCompra">
<soap:operation soapAction=""/>
<wsdl:input name="GenerarOrdenCompraRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="GenerarOrdenCompraResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="comprasPortService">
<wsdl:port binding="tns:comprasPortSoap11" name="comprasPortSoap11">
<soap:address location="https://webservice-compras-production.up.railway.app:80/ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>